@import "tailwindcss";

:root {
  --color-pyrax-orange: #F68724;
  --color-pyrax-amber: #EC7B23;
  --color-pyrax-red: #A01D20;
  --color-pyrax-dark-red: #A61E22;
  --color-pyrax-dark: #0A0A0B;
  --color-pyrax-darker: #050506;
}

@theme {
  --color-pyrax-orange: #F68724;
  --color-pyrax-amber: #EC7B23;
  --color-pyrax-red: #A01D20;
  --color-pyrax-dark-red: #A61E22;
  --color-pyrax-dark: #0A0A0B;
  --color-pyrax-darker: #050506;
  --color-pyrax-gray: #1a1a1a;
  --color-pyrax-light: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-pyrax-darker text-pyrax-light antialiased;
}

::selection {
  @apply bg-pyrax-orange/30;
}
